/* Timeline */
.cd-horizontal-timeline { opacity: 0; margin-top:52px; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; transition: opacity 0.2s;}
.cd-horizontal-timeline::before { content: 'mobile'; display: none;}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline { position: relative; height: 155px;  width: 94%;  margin: 0 auto;}
.cd-horizontal-timeline .events-wrapper { position: relative;  height: 100%;  margin: 0 40px 0 40px;  overflow: hidden;}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute; z-index: 1; left: 0; top: 80px; height: 6px; background:url('../../images/line-splad.png'); -webkit-transition: -webkit-transform 0.4s;  -moz-transition: -moz-transform 0.4s;  transition: transform 0.4s; border-radius:25px;
}
.cd-horizontal-timeline .events:after {content:''; background-color:#ebeaea; width:100%; height:6px; top:0; left:0; opacity:0.8; position:absolute;}

.cd-horizontal-timeline .events ol{ list-style:none; }
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute; bottom: 0; z-index: 2;  text-align: center; top:43px;
  font-size: 1.3rem; padding-bottom: 15px;  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);  
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: ''; position: absolute; left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%);  transform: translateX(-50%);
  bottom: 46px; height: 20px; width: 20px; border-radius: 50%;
  border: 5px solid #FFF;
  background-color: #ed1c24;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.cd-horizontal-timeline .events ol li:nth-child(odd) a::after { bottom:-5px; }


.no-touch .cd-horizontal-timeline .events a:hover::after { background-color: #FFF;  border-color: #ed1c24;}
.cd-horizontal-timeline .events a span.title{ padding:3px 20px 3px 20px; color:#555555; font-size:14px; font-family: 'Open Sans', sans-serif; font-weight:700; background:#e5e4e4; position:relative;border-radius: 20px;}
.cd-horizontal-timeline .events a:hover span.title{background:#156cb5; color:#FFF;}
.cd-horizontal-timeline .events a:hover span i{background:url('../../images/arrow-top2.png') no-repeat;}
.cd-horizontal-timeline .events a span i{width:16px; height:9px; display:none; position:absolute; left:0 ; right:0; margin:0 auto; top:-10px;}
.cd-horizontal-timeline .events a.selected span.title{background-color: #1474d4; color:#FFF; position:relative;border-radius: 20px;}
.cd-horizontal-timeline .events a.selected::after { background-color: #fff; border-color: #ed1c24 !important;}
.cd-horizontal-timeline .events a.older-event::after { border-color: #FFF;}
.cd-horizontal-timeline .events ol li:nth-child(odd) a { top:-60px; }
.cd-horizontal-timeline .events ol li:nth-child(odd) a span i.last{display:block;bottom:-9px;}
.cd-horizontal-timeline .events ol li:nth-child(odd) a span i{background:url('../../images/arrow-bottom-his.png') no-repeat; top:auto; bottom:0;}
.cd-horizontal-timeline .events ol li:nth-child(odd) a.selected span i{background:url('../../images/arrow-top2-his.png') no-repeat;}
.cd-horizontal-timeline .events ol li:nth-child(odd) a:hover span i{background:url('../../images/arrow-top2-his.png') no-repeat;}
.cd-horizontal-timeline .events ol li:nth-child(even) a span i.first{display:block;top:-9px;}
.cd-horizontal-timeline .events ol li:nth-child(even) a span i{background:url('../../images/arrow-top-his.png') no-repeat;}
.cd-horizontal-timeline .events ol li:nth-child(even) a.selected span i{background:url('../../images/arrow-bottom2-his.png') no-repeat;}
.cd-horizontal-timeline .events ol li:nth-child(even) a:hover span i{background:url('../../images/arrow-bottom2-his.png') no-repeat;}

.cd-horizontal-timeline .events ol li:nth-child(even) a .tooltiptext { width: 350px; height: 55px; overflow: hidden; background-color: #FFF; color: #666666; text-align: center; border-radius: 6px; padding: 2px; position: absolute; z-index: 3; opacity: 0;
transition: opacity 1s; font-size: 14px; bottom: 70px; left: -130px;  visibility: hidden;  }
.cd-horizontal-timeline .events ol li:nth-child(even) a:hover .tooltiptext { opacity: 1; visibility: visible;}

.cd-horizontal-timeline .events ol li:nth-child(odd) a.selected .tooltiptext { width: 310px; height: 55px; overflow: hidden; background-color: #FFF; color: #666666; text-align: center; border-radius: 6px; padding: 2px; position: absolute; z-index: 3; opacity: 0;
transition: opacity 1s; font-size: 14px; bottom: -70px; left: -50px;  visibility: hidden; }
.cd-horizontal-timeline .events ol li:nth-child(odd) a.selected:hover .tooltiptext { opacity: 1; visibility: visible;}

.cd-horizontal-timeline .events ol li:nth-child(odd) a .tooltiptext { width: 350px; height: 55px; overflow: hidden; background-color: #FFF; color: #666666; text-align: center; border-radius: 6px; padding: 2px; position: absolute; z-index: 3; opacity: 0;
transition: opacity 1s; font-size: 14px; bottom: -70px; left: -130px;  visibility: hidden; }
.cd-horizontal-timeline .events ol li:nth-child(odd) a:hover .tooltiptext { opacity: 1; visibility: visible;}
.content-timeline div{display:none;border:1px solid #F0F0F0; width:60%; border-radius: 8px; margin-left:auto; margin-right:auto; margin-top: 50px; height: 100px; text-align: left; background-color: rgba(21, 108, 181, 0.7); overflow: hidden; font-size: 14px;color: #fff;padding: 20px; }
.content-timeline div.selected{display:flex !important; align-items: center;}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline::before {  content: 'desktop'; }
}
.cd-timeline-nav{list-style:none;}
.cd-timeline-nav a {
  position: absolute;  z-index: 1;  top: 60%; bottom: auto; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);  -o-transform: translateY(-50%);  transform: translateY(-50%);
  height: 50px;  width: 20px; overflow: hidden;  color: transparent;  text-indent: 100%;  white-space: nowrap;  -webkit-transition: border-color 0.3s;  -moz-transition: border-color 0.3s;  transition: border-color 0.3s;  background:#FFF;
}
.cd-timeline-nav a::after {
  /* arrow icon */
  content: '';  position: absolute;  height: 16px;  width: 16px;  left: 50%;  top: 50%;
  bottom: auto;  right: auto;  -webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);  transform: translateX(-50%) translateY(-50%);
}
.cd-timeline-nav a.prev {left: 0; background:url('../../images/icon-list-arrow.png') no-repeat; background-position:0px 0px;}
.cd-timeline-nav a.prev:hover { background-position:-38px 0px;}
.cd-timeline-nav a.next {  right: 0; background:url('../../images/icon-list-arrow.png') no-repeat;  background-position:-17px 0px;}
.cd-timeline-nav a.next:hover { background-position:-54px 0px;}
.no-touch .cd-timeline-nav a:hover { background-color:transparent;}
.cd-timeline-nav a.inactive { cursor: not-allowed;}
.cd-timeline-nav a.inactive::after { background-position: 0 -16px;}

.cd-horizontal-timeline .events-content {
  position: relative;  width: 100%;  margin: 2em 0;  overflow: hidden;  -webkit-transition: height 0.4s;  -moz-transition: height 0.4s;  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content ol{list-style:none;}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  margin:0px 100px 0px 60px;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  height:137px;  
}
.cd-horizontal-timeline .events-content li .bg-event-timeline{width:86%; height:100%; background:#FFF; opacity:0.7; position:absolute;}
.cd-horizontal-timeline .events-content li.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li .content{color:#545454;  font-size:14px; font-family: 'Quicksand', sans-serif; text-align:left; position:absolute; z-index:2; width:84%; border:none; height:125px; overflow-y:scroll; margin:7px 0px 0px 12px;}
.cd-horizontal-timeline .events-content li .content .scroll-element .scroll-element_outer .scroll-bar{background-color:#FFF !important;}
.cd-horizontal-timeline .events-content h2 {
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% { opacity: 1; -webkit-transform: translateX(0%);}
}
@-moz-keyframes cd-enter-left {
  0% { opacity: 0; -moz-transform: translateX(-100%); }
  100% { opacity: 1;  -moz-transform: translateX(0%);  }
}
@keyframes cd-enter-left {
  0% { opacity: 0;  -webkit-transform: translateX(-100%);  -moz-transform: translateX(-100%);  -ms-transform: translateX(-100%); -o-transform: translateX(-100%);    transform: translateX(-100%);  }
  100% { opacity: 1; -webkit-transform: translateX(0%); -moz-transform: translateX(0%);  -ms-transform: translateX(0%);  -o-transform: translateX(0%);   transform: translateX(0%);  }
}